<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Home Monitoring Application</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>

<div id="app" class="container" style="margin-top: 10vh;">

    <p>List of sensors:</p>

    <ul class="list-group">
        <li v-for="sensor in sensors" v-bind:key="sensor.alias" class="list-group-item">
            Alias: <i><b>{{ sensor.alias }}</b></i> MAC address: <i><b>{{ sensor.mac}}</b></i>

            <button type="button" v-on:click="deleteSensor(sensor.alias)" class="btn btn-danger btn-sm" style="margin-left: 10px;">Delete</button>

        </li>
    </ul>

    <br>

    <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteSensors" ref="delete_all_sensors_button">Delete all sensors</button>

    <br>

    <form v-on:submit.prevent="createSensor" style="margin-top:20px; margin-bottom:20px;">
        <div class="form-group">
          <label for="sensor_alias">Alias:</label>
          <input type="text" v-model="sensor_alias" class="form-control" id="sensor_alias" placeholder="Enter sensor alias" name="sensor_alias">
        </div>

        <div class="form-group">
          <label for="sensor_mac">MAC address:</label>
          <input type="text" v-model="sensor_mac" class="form-control" id="sensor_mac" placeholder="Enter sensor MAC address" name="sensor_mac">
        </div>

        <button type="submit" class="btn btn-primary" ref="create_sensor_button">Add a new sensor</button>
    </form>

    <p>List of ringers:</p>

    <ul class="list-group">
        <li v-for="ringer in ringers" v-bind:key="ringer.alias" class="list-group-item">
            Alias: <i><b>{{ ringer.alias }}</b></i> MAC address: <i><b>{{ ringer.mac}}</b></i>

            <button type="button" v-on:click="deleteRinger(ringer.alias)" class="btn btn-danger btn-sm" style="margin-left: 10px;">Delete</button>
        </li>
    </ul>

    <br>

    <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteRingers" ref="delete_all_ringers_button">Delete all ringers</button>

    <br>

    <form v-on:submit.prevent="createRinger" style="margin-top:20px;">
        <div class="form-group">
          <label for="ringer_alias">Alias:</label>
          <input type="text" v-model="ringer_alias" class="form-control" id="ringer_alias" placeholder="Enter ringer alias" name="ringer_alias">
        </div>

        <div class="form-group">
          <label for="ringer_mac">MAC address:</label>
          <input type="text" v-model="ringer_mac" class="form-control" id="ringer_mac" placeholder="Enter ringer MAC address" name="ringer_mac">
        </div>

        <button type="submit" class="btn btn-primary" ref="create_ringer_button">Add a new ringer</button>
    </form>

    <form v-on:submit.prevent="fetchToken" class="form-inline" style="margin-top:80px;">
        <input type="text" v-model="username" class="form-control" id="username" placeholder="Enter username">
        <input type="password" v-model="password" class="form-control" id="password" placeholder="Enter password">

        <button type="submit" class="btn btn-primary" ref="authentication_button">Refresh JWT token</button>
    </form>

    <br>

    <form v-on:submit.prevent="resetAlert" class="form-inline" style="margin-top:60px; margin-bottom:50px;">
        <button type="submit" class="btn btn-primary" ref="reset_alert_button" style="margin-right:10px;">Reset alarm</button>
        <div class="form-check" style="margin-left: 10px;">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" v-model="measure_flag"> And measure
            </label>
        </div>
    </form>

    <button type="button" class="btn btn-danger" v-on:click="requestScanContent" ref="request_scan_content_button" style="margin-right: 10px;">Request BLE scanning content</button>
    <button type="button" class="btn btn-danger" v-on:click="refreshScanContent" ref="refresh_scan_content_button">Refresh BLE scanning content</button>
    <pre><code>{{ scan_content }}</code></pre>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="frontend.js"></script>

</body>

</html>